$dark: #333333;
$modal-black: rgba(51, 51, 51, 0.75);
$stroke-dark: #8B8B8B;
$stroke-light: #D5D5D5;
$light: #D5D5D5;
$button: #FFC702;
$active:  #FF5C16;
$inverce: #A93DFF;

h1{
    font-size: 30px;
    font-weight: bold;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
h4{
    font-size: 16px;
    font-weight: bold;
}
h5{
    font-size: 12px;
    font-weight: bold;
}

